section,
nav,
h1,
span,
footer,
header,
div,
body {
  border: 1px solid red;
}

/*universal styles*/
html {
  font-size: 18px;
  font-family: "Helvetica", serif;
  color: white;
}

.container {
  max-width: 960px;
  margin: auto;
}   /*this incorporate the header, sections and footer of the site*/



/*logo/header*/
.header {
  background-color: black;
}

#header-container {
  display: flex;
  align-items: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.header img {
  height: 1.5rem;
  padding-right: 1rem;
}



/*Motor Cycle Banner*/
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
}

#banner-container {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.ad {
  font-size: 1rem;
  font-weight: bold;
}

.featured {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

/*navigation links*/

.nav-bar {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.nav-bar nav {
  display: flex;
  justify-content: space-between;
}

/*product grid*/

.products {
  display: flex;
  justify-content: space-between;
}

.prod-title {
  background-color: black;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.prod-item {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

/*Location/hours*/


/*footer*/
